<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadInforController</servlet-name>
        <servlet-class>c4.fm.controller.LoadInforController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSubjectController</servlet-name>
        <servlet-class>c4.fm.controller.LoadSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollCourseController</servlet-name>
        <servlet-class>c4.fm.controller.EnrollCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>c4.fm.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEnrolledSubjectController</servlet-name>
        <servlet-class>c4.fm.controller.ShowEnrolledSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllSubjectController</servlet-name>
        <servlet-class>c4.fm.controller.ShowAllSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>c4.fm.controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadChapterStudentController</servlet-name>
        <servlet-class>c4.fm.controller.LoadChapterStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeController</servlet-name>
        <servlet-class>c4.fm.controller.LoadHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadContentStudentController</servlet-name>
        <servlet-class>c4.fm.controller.LoadContentStudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateGoogleController</servlet-name>
        <url-pattern>/CreateGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInforController</servlet-name>
        <url-pattern>/LoadInforController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSubjectController</servlet-name>
        <url-pattern>/LoadSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollCourseController</servlet-name>
        <url-pattern>/EnrollCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEnrolledSubjectController</servlet-name>
        <url-pattern>/ShowEnrolledSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllSubjectController</servlet-name>
        <url-pattern>/ShowAllSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadChapterStudentController</servlet-name>
        <url-pattern>/LoadChapterStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeController</servlet-name>
        <url-pattern>/LoadHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadContentStudentController</servlet-name>
        <url-pattern>/LoadContentStudentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>c4.fm.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>c4.fm.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>c4.fm.controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>c4.fm.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGoogleController</servlet-name>
        <servlet-class>c4.fm.controller.CreateGoogleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
