.KhuVucHoc {
  margin-top: 30px;
  margin-left: 17px;
}

.KhuVucHoc h3 {
  color: #112ca3;
}

/* Style the tab */
.MyCourse .tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.MyCourse .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.MyCourse .tab button:hover {
  background-color: #112ca3;
  color: white;
  transition: all .5s;
}

/* Create an active/current tablink class */
.MyCourse .tab button.active {
  background-color: white;
  color: #112ca3;
}

/* Style the tab content */
.MyCourse .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/* Search */
.MyCourse .search-container {
    float: right;
  }
  
  .MyCourse input{
    border-radius: 10px;
  }

  .MyCourse input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .MyCourse .search-container button {
    height: 45px;
    width: 50px;
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ffff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

  .MyCourse .search-container button i{
    color: #112ca3;
  }
  
  .MyCourse .search-container button:hover {
    background: #112ca3;
  }

  .MyCourse .search-container button:hover i{
      color: #ffff;
  }

  @media screen and (max-width: 600px) {
    .MyCourse .search-container {
      float: none;
    }
    .MyCourse input[type=text], .MyCourse .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .MyCourse input[type=text] {
      border: 1px solid #ccc;  
    }
  }

  .join{
    text-decoration: none; 
  }

  .join:hover {
    color: white;
    text-decoration: none;
  }

  .join  {
    padding: 5px;
    border-radius: 15px;
    color: white;
    background-color: #04AA6D;
    border: none;
  }


  html {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  input,
  textarea,
  select,
  button {
    outline: none;
  }
  input {
    line-height: normal;
  }
  label,
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  /* using rem unit */
  html {
    font-size: 62.5%;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
  }
  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    cursor: zoom-out;
  }
  .modal-content {
    min-height: 350px;
    width: 100%;
    max-width: 800px;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    background-color: #fff;
    cursor: auto;
  }
  .modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 10rem;
    background-color: #6a5af9;
    color: white;
    cursor: pointer;
  }
  .button {
    display: block;
    width: 150px;
    border: 0;
    background-color: #07a787;
    color: white;
    padding: 15px;
    margin: 15px auto;
  }
  
  body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
  }
  .account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
  }
  .account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
  }
  .account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
  .account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
  }
  .account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
  }
  .account-settings .update {
    margin: 2rem 0 0 0;
    text-align: center;
    cursor: pointer;
  }
  .account-settings .update h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
  }
  .account-settings .update p {
    font-size: 0.825rem;
  }
  .form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
  }
  
  .card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
  }
  
  .update {
    margin: 2rem 0 0 0;
    text-align: center;
    cursor: pointer;
  }
  .update h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
  }
  .update p {
    font-size: 0.825rem;
  }